<div class="container">
  <h3 class="text-center">Manage all your deleted posts</h3>
  <div class="list-group" *ngFor="let post of posts">
    <li class="list-group-item list-group-item-action" *ngIf="post.isDeleted">
      {{post.post_id}}. <p>{{post.post_title}}</p><button type="button" class="btn btn-outline-success btn-sm" (click)="onToggleDelete(post)">Recover</button>
    </li>
  </div>
</div>
<div class="container">
  <h3>Manage all your deleted comments</h3>
  <div class="list-group" *ngFor="let comment of comments">
    <li class="list-group-item list-group-item-action" *ngIf="comment.commentIsDeleted">
      <p>{{comment.comment_data}} {{comment.isDeleted}}</p><button type="button" class="btn btn-outline-success btn-sm" (click)="onToggleDeleteComment(comment)">Recover</button>
    </li>
  </div>
</div>