<div class="container">
    <div class="card" *ngIf="selectedPost">
        <div class="card-body">
            <form>
                <div class="form-group">
                    <label for="title">Post Title</label>
                    <input type="text" class="form-control" name="post_title" [(ngModel)]="selectedPost.post_title" id="title" required>
                </div>
                <div class="form-group">
                    <label for="Content">Post Description</label>
                    <textarea class="form-control" name="post_description" [(ngModel)]="selectedPost.post_description" id="description" rows="5" required></textarea>
                </div>
                <div class="form-group">
                  <label for="Content">Post Content</label>
                  <textarea class="form-control" name="post_content" [(ngModel)]="selectedPost.post_content" id="content" rows="5" required></textarea>
                </div>
                <button class="btn btn-info" (click)="onUpdatePost()" type="submit">Update</button>
                &nbsp;
                <button class="btn btn-primary" (click)="onToggleDeleteClick()" type="submit">Delete</button>
            </form>
      </div>
    </div>
    <br>
    <h3 class="text-center">Manage Your Posts here</h3>
    <button class="btn btn-link" routerLink = '/manageDeleted' >Manage Deleted</button>
    <div class="list-group" *ngFor="let post of posts">
      <a class="list-group-item list-group-item-action" *ngIf="!post.isDeleted" [class.active]="post == selectedPost" (click)="onSelect(post)">
        <p class="badge">{{post.post_id}}</p>. {{post.post_title}}
      </a>
    </div>
    <br><br>
    <div *ngIf="!editCommentToggle">
        <h3 class="text-center">Your comments</h3>
        <div class="list-group">
            <li *ngFor="let userComment of userComments" class="list-group-item list-group-item-action">
            <div *ngIf="!userComment.commentIsDeleted">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{userComment.post_title}}</h5>
                </div>
                    <p class="mb-1">{{userComment.comment_data}}</p>
            <button class="btn btn-danger btn-sm" (click)="deleteComment(userComment.comment_id)">Delete</button>&nbsp;
            <button class="btn btn-primary btn-sm" (click)="enableCommentEdit(userComment.comment_data,userComment.comment_id)">Edit</button>
            </div>
            </li>
        </div>
    </div>
    <div>
        <div class="form-group" *ngIf="editCommentToggle">
            <textarea class="form-control" name="comment_data" [(ngModel)]="comment_data" id="comment_data" rows="5" required></textarea>
            <button class="btn btn-default btn-sm" (click)="saveUpdatedComment()">Save</button>
            &nbsp;
        </div>
    </div>
    
</div>